body{
	background-color: lightblue;
    font-family: sans-serif;
}
.duck{
	text-decoration:underline;
	color:darkred;
	text-align: center;
}
.fuf{
    text-align: center;
    color:currentColor;
    text-decoration-style:
}
#calculator {
    width: 307px;
    height: auto;
    margin: 100px auto;
    padding: 20px 20px 9px;
    background:crimson;
    border-radius: 3px;
    
}
.top span.clear {
    float: left;
}
.top .screen {
    height: 40px;
    width: 215px;
    float: left;
    padding: 0 10px;
    background:black;
    border-radius: 3px;
    font-size: 17px;
    line-height: 40px;
    color: white;
    text-align: right;
    letter-spacing: 1px;
}
.keys, .top {overflow: hidden;}

.keys span, .top span.clear {
    float: left;
    position: relative;
    top: 55;
    cursor: pointer;
    width: 65px;
    height: 35px;
    background: white;
    border-radius: 3px;
    margin: 0 7px 10px 0;
    color: #888;
    line-height: 35px;
    text-align: center; 
    user-select: none;
    transition: all 0.2s ease;
}
.keys span.operator {
    background: lightgreen;
    margin-right: 3%;
}

.keys span.eval {
    background: #f1ff99;
    color: blue;
}
.top span.clear {
    background: blue;
    color: white;
}
.keys span:hover {
    background: #9c89f6;
    color: white;
}
.keys span.eval:hover {
    background: #abb850;
    
}
.top span.clear:hover {
    background: #f6f6f6;
    color:blue;
}
.keys span:active {
    box-shadow: 0px 0px #fefefe;
    top: 4px;
}
.keys span.eval:active {
    box-shadow: 0px 0px #b3b3b3;
    top: 4px;
}
.top span.clear:active {
    top: 4px;
    box-shadow: 0px 0px #454545;
}